<!-- askcompany/instagram/templates/instagram/post_list.html -->

<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>Instagram / Post_list</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <!-- 검색창 만들기 -->
    <!-- 주소를 넣는 곳이 비어있으면 현재의 주소를 뜻 함(상대경로) -->
    <!-- input에 입력된 값을 get방식으로 action에 써있는 주소로 보내는 것 -->
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>   <!-- 2중 중괄호안의 객체를 문자열 표현식으로 표현 -->
        <input type="submit" value="검색"/>
    </form>
    <table class="table table-bordered table-hover">
        <tbody>
            <!-- 파이썬 템플릿 문법 -->
            {% for post in post_list %}
                <tr>    <!-- 한 줄 -->
                    <td>
                        {% if post.photo %}
                            <img src="{{ post.photo.url }}" style="width: 75px;"/>
                        {% else %}
                            No Photo
                        {% endif %}
                    </td>   <!-- 한 칸 -->
                    <td>{{ post.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>