<!-- askcompany/instagram/templates/instagram/post_list.html -->

<!-- layout.html(부모)을 상속받음 -->
<!-- 자식은 block에 대해서만 재정의 가능, block 이외는 무시됨 -->
{% extends 'instagram/layout.html' %}

<!-- bootstrap4를 사용하기 위해 불러오기 -->
{% load bootstrap4 %}

<!-- <title>태그의 내용 가져오기 -->
{% block title %}
    Instagram / Post_list
{% endblock title %}

<!-- <body>태그의 내용 가져오기 -->
{% block content %}
    <!-- 검색창 만들기 -->
    <!-- 주소를 넣는 곳이 비어있으면 현재의 주소를 뜻 함(상대경로) -->
    <!-- input에 입력된 값을 get방식으로 action에 써있는 주소로 보내는 것 -->
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>   <!-- 2중 중괄호안의 객체를 문자열 표현식으로 표현 -->
        <input type="submit" value="검색"/>
    </form>
    <table class="table table-bordered table-hover">
        <tbody>
            <!-- 파이썬 템플릿 문법 -->
            {% for post in post_list %}
                <tr>    <!-- 한 줄 -->
                    <td>
                        {{ post.pk }}
                    </td>   <!-- 한 칸 -->
                    <td>
                        {% if post.photo %}
                            <img src="{{ post.photo.url }}" style="width: 75px;"/>
                        {% else %}
                            No Photo
                        {% endif %}
                    </td>
                    <td>
                        <!-- URL문자열이 반환됨 -->
                        <a href="{{ post.get_absolute_url }}">
                        {# <a href="{% url 'instagram:post_detail' post.pk %}"> #}
                            {{ post.message }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% bootstrap_pagination page_obj justify_content="center" %}
    {% endif %}
{% endblock content %}